<!DOCTYPE html>

<html>
    <head>
        <title>Titanic Dataset Visualization</title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <div class="container">
            <h1>Titanic dataset graphing</h1>
            <div class="data-area">
                <div class="control">
                    <h3>Enter Age interval</h3>
                    <div class="control-age">
                        <input class="underlined-input" type="number" value="30" min="2004" max="2017">
                        <p>to</p>
                        <input class="underlined-input" type="number" value="50" min="2004" max="2017">
                    </div>
                    <div class="control-button">
                        <input type="button" onclick="updateChart()" value="Update chart">
                    </div>
                </div>
                <div class="chart">
                    <div class="ct-chart ct-perfect-fourth"></div>
                </div>

            </div>
        </div>
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
        <script src="/static/index.js"></script>
    </body>
</html>